@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --primary: #B88E2F;
    --gray: #3A3A3A;
    --gray-1: #F4F5F7;
    --gray-2: #898989;
    --gray-3: #B0B0B0;
    --gray-4: #9F9F9F;
    --background-home: #FFF3E3;
    --background-featured-products: #FCF8F3;
    --font-color: #333333;
    --font-color-1: #666666;
}

.container {
    margin: 0 auto;
    width: 95%;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1280px;
    }
}

header {
    background-color: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo p {
    font-weight: 700;
    font-size: 34px;
    color: var(--black);
}

header .container-list-desktop {
    display: flex;
    align-items: center;
    gap: 75px;
    list-style: none;
}

.mobile-menu {
    display: none;
}

header a {
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
}

.container-icons {
    display: flex;
    align-items: center;
    gap: 45px;
}


.home {
    background-color: var(--background-home);
    background-image: url('../assets/scandinavian-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 153px;
    padding-bottom: 117px;
}


.home .container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.card {
    background-color: var(--background-home);
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 62px 49px 37px 33px;
}

.container-card-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-card-text h3 {
    color: var(--font-color);
    font-size: 16px;
    font-weight: 600;
}

.container-card-text h1 {
    color: var(--primary);
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
}

.container-card-text p {
    width: 100%;
    max-width: 546px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 17px;
    color: var(--font-color);
}

.container-card-text button {
    width: 222px;
    height: 74px;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    border: none;
    margin-top: 46px;
}

.range {
    padding-top: 56px;
}

.container-range {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-range h3 {
    font-weight: 700;
    color: var(--font-color);
    font-size: 32px;
}

.container-range p {
    font-weight: 400;
    font-size: 20px;
    color: var(--font-color-1);
}

.container-imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 62px;
    padding-bottom: 56px;
}

.container-imgs img {
    max-width: 100%;
}

.container-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-name p {
    font-weight: 600;
    font-size: 24px;
    color: var(--font-color);
    margin-top: 30px;
}

.our-products h3 {
    font-weight: 700;
    font-size: 40px;
    color: var(--gray);
    text-align: center;
}

.container-flex-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    align-items: center;
}

.container-our-products {
    padding-top: 32px;
}

.container-img-button {
    display: flex;
    align-items: center;
}

.container-our-products img {
    display: block;
}

.card-our-products {
    background-color: var(--gray-1);
    width: 285px;
    height: 145px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
}

.card-our-products h4 {
    color: var(--gray);
    font-size: 24px;
    font-weight: 600;
    padding-top: 16px;
}

.card-our-products p {
    color: var(--gray-2);
    font-weight: 500;
    font-size: 16px;
}

.container-numbers {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container-numbers p {
    color: var(--gray);
    font-weight: 600;
    font-size: 20px;
}

.container-numbers .price {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-3);
}

.container-button-show {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.container-button-show button {
    width: 245px;
    height: 45px;
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.featured-products {
    background-color: var(--background-featured-products);
    margin-top: 69px;
}

.container-featured-products {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 223px;
}

.container-featured-products h1 {
    width: 422px;
    color: var(--font-color);
    font-size: 40px;
    font-weight: 700;
}

.container-featured-products p {
    width: 368px;
    color: var(--font-color-1);
    font-weight: 500;
    font-size: 16px;
}

.container-featured-products button {
    width: 176px;
    height: 48px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin-top: 25px;
}

.container-img-featured {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding-top: 44px;
}

.container-imgs-featured {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.container-img-ellipse {
    display: flex;
    flex-direction: column;
}

.container-ellipse {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 48px;
}

.share {
    padding-top: 67px;
}

.container-share {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-share h3 {
    font-weight: 600;
    font-size: 20px;
    color: var(--font-color-1);
}

.container-share h1 {
    color: var(--font-color);
    font-weight: 700;
    font-size: 40px;
}

.container-imgs-share {
    padding-top: 44px;
}

.container-imgs-share img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #D9D9D9;
    margin-top: 50px;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 48px;
}


.container-name-description {
    display: flex;
    flex-direction: column;
}

.container-name-description p {
    font-weight: 700;
    color: var(--black);
    font-size: 24px;
}

.container-name-description .description {
    color: var(--gray-4);
    font-weight: 400;
    font-size: 16px;
    margin-top: 50px;
}

.container-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-list-links p {
    color: var(--gray-4);
    font-weight: 500;
    font-size: 16px;
}

.container-list-links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 46px;
    margin-top: 55px;
}

.container-list-links a {
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
}

.container-newsletter p {
    color: var(--gray-4);
    font-weight: 500;
    font-size: 16px;
}


.container-email input {
    color: var(--gray-4);
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--black);

}

.container-email {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-top: 53px;
}

.container-email .subscribe {
    font-weight: 500;
    font-size: 14px;
    color: var(--black);
    border-bottom: 1px solid var(--black);
}

.border {
    border: 1px solid #D9D9D9;
    margin-top: 48px;
}

.copyright {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
}


.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--black);
    font-size: 28px;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .container-list-desktop {
        display: none !important;
    }

    .menu-toggle {
        display: block;
    }

    .container-icons {
        display: none;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100vh;
        background-color: var(--white);
        transition: left 0.3s ease;
        padding: 40px 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 999;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        gap: 75px;
        padding-top: 40px;
        list-style: none;
    }

    .mobile-menu a {
        color: var(--black);
        font-size: 20px;
        text-decoration: none;
        font-weight: 500;
    }

    .mobile-menu .container-icons-mobile {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 45px;
        padding-top: 40px;
    }
}

/* ========== TABLET (entre 769px e 1024px) ========== */
@media (min-width: 769px) and (max-width: 1024px) {

    /* Header */
    header {
        height: 90px;
    }

    .logo p {
        font-size: 28px;
    }

    .menu-toggle {
        display: block;
    }

    .container-icons {
        display: none;
    }

    .container-list-desktop {
        display: none;
    }

    /* Home */
    .home {
        padding-top: 100px;
        padding-bottom: 80px;
        background-position: center right;
    }

    .card {
        max-width: 70%;
        padding: 48px 36px 32px 30px;
    }

    .container-card-text h1 {
        font-size: 40px;
        line-height: 55px;
    }

    .container-card-text p {
        font-size: 16px;
        max-width: 420px;
    }

    /* Range */
    .container-imgs {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .container-name p {
        font-size: 20px;
    }

    /* Our Products */
    .container-flex-card {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        justify-items: center;
    }

    .card-our-products {
        width: 100%;
        max-width: 320px;
    }

    .container-button-show button {
        width: 220px;
    }

    /* Featured Products */
    .container-featured-products {
        align-items: center;
        text-align: center;
        padding-top: 150px;
    }

    .container-featured-products h1 {
        font-size: 32px;
        width: 100%;
    }

    .container-featured-products p {
        font-size: 15px;
        width: 80%;
    }

    .container-img-featured {
        flex-direction: column;
        gap: 24px;
        padding-top: 32px;
    }

    .container-imgs-featured {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Share */
    .container-share h1 {
        font-size: 32px;
    }

    .container-imgs-share img {
        width: 100%;
        height: auto;
    }

    /* Footer */
    .container-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .container-list {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .container-email {
        justify-content: center;
    }

    .container-email input {
        width: 250px;
    }
}


@media (max-width: 768px) {
    .container-range h3 {
        text-align: center;
    }

    .container-range p {
        text-align: center;
    }

    .container-imgs {
        flex-direction: column;
    }

    .container-flex-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-img-featured {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-imgs-share {
        width: 100%;
    }

    .container-footer {
        flex-direction: column;
        justify-content: center;
    }

}