@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --primary: #B88E2F;
    --gray: #3A3A3A;
    --gray-1: #F4F5F7;
    --gray-2: #898989;
    --gray-3: #B0B0B0;
    --background-home: #FFF3E3;
    --background-featured-products: #FCF8F3;
    --font-color: #333333;
    --font-color-1: #666666;
}

.container {
    margin: 0 auto;
    width: 95%;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1280px;
    }
}

header {
    background-color: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo p {
    font-weight: 700;
    font-size: 34px;
    color: var(--black);
}

header ul {
    display: flex;
    align-items: center;
    gap: 75px;
    list-style: none;
}

header a {
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
}

.container-icons {
    display: flex;
    align-items: center;
    gap: 45px;
}


.home {
    background-color: var(--background-home);
    background-image: url('../assets/scandinavian-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 153px;
    padding-bottom: 117px;
}


.home .container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.card {
    background-color: var(--background-home);
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 62px 49px 37px 33px;
}

.container-card-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-card-text h3 {
    color: var(--font-color);
    font-size: 16px;
    font-weight: 600;
}

.container-card-text h1 {
    color: var(--primary);
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
}

.container-card-text p {
    width: 100%;
    max-width: 546px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 17px;
    color: var(--font-color);
}

.container-card-text button {
    width: 222px;
    height: 74px;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    border: none;
    margin-top: 46px;
}

.range {
    padding-top: 56px;
}

.container-range {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-range h3 {
    font-weight: 700;
    color: var(--font-color);
    font-size: 32px;
}

.container-range p {
    font-weight: 400;
    font-size: 20px;
    color: var(--font-color-1);
}

.container-imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 62px;
    padding-bottom: 56px;
}

.container-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-name p {
    font-weight: 600;
    font-size: 24px;
    color: var(--font-color);
    margin-top: 30px;
}

.our-products h3 {
    font-weight: 700;
    font-size: 40px;
    color: var(--gray);
    text-align: center;
}

.container-flex-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    align-items: center;
}

.container-our-products {
    padding-top: 32px;
}

.container-our-products img {
    display: block;
}

.card-our-products {
    background-color: var(--gray-1);
    width: 285px;
    height: 145px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
}

.card-our-products h4 {
    color: var(--gray);
    font-size: 24px;
    font-weight: 600;
    padding-top: 16px;
}

.card-our-products p {
    color: var(--gray-2);
    font-weight: 500;
    font-size: 16px;
}

.container-numbers {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container-numbers p {
    color: var(--gray);
    font-weight: 600;
    font-size: 20px;
}

.container-numbers .price {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-3);
}

.container-button-show {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.container-button-show button {
    width: 245px;
    height: 45px;
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.featured-products {
    background-color: var(--background-featured-products);
    margin-top: 69px;
}

.container-featured-products {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 223px;
}

.container-featured-products h1 {
    width: 422px;
    color: var(--font-color);
    font-size: 40px;
    font-weight: 700;
}

.container-featured-products p {
    width: 368px;
    color: var(--font-color-1);
    font-weight: 500;
    font-size: 16px;
}

.container-featured-products button {
    width: 176px;
    height: 48px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin-top: 25px;
}

.container-img-featured {
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 42px;
    padding-top: 44px;
}

.container-imgs-featured {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.container-img-ellipse {
    display: flex;
    flex-direction: column;
}

.container-ellipse {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 48px;
}